.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1{
  margin: 0;
}

.header{
  color: white;
  background-color: #00b894;
  padding: 14px;
  width: 100%;
}

.form{
  padding: 20px;
}

.data{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 14px;
  width: 100%;
}

.data_set{
  margin-top: 18px;
  color: white;
  display: flex;
  width: 60%;
  padding: 5px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #00b894;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  justify-content: space-between;
}
